* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color:#fbb9b9;
    height:70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.logo_home {
    height:60px;
    width: 80px;
    background-color: blue;
}
.logo_container {
    margin-left: 4%;
}
.search_bar {
    margin-right: 4%;
    height:40px;
    min-width: 350px;
    display: flex;
    align-items: center;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav_bar a {
    font-size:14px;
    letter-spacing: .3px;
    color:black;
    font-weight: 700;
    text-transform:uppercase;
    text-decoration:none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;
}
.search_icon {
    box-sizing: content-box;
    height:20px;
    padding:10px;
    background-color: antiquewhite;
}
.search_input {
    background-color:antiquewhite;
    color:rgb(11, 9, 11);
    flex-grow: 1;
    height:40px;
}
/*Main body*/
.acheivement_container{
    background-image: url(../Assets/4.jpg);
    background-repeat:no-repeat;
    background-size: 1500px 300px;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#acheivement_item{
    font-size: 3.8rem;
    color:rgb(0, 0, 0);
    
}
.article_item {
    width: 100vw;
    align-items: center;
    display:flex;
    height:350px;
    justify-content:start;
    border: 1px solid black;
}
#first {
    width: 33%;
    height: 100%;
    padding: 3px;
    font-size: xx-large;
    background-color: antiquewhite;
    border-right: 1px solid black;
    font-style: oblique;
}
#second {
    width: 34%;
    height:100%;
    padding:4px;
    background-color: antiquewhite;
    border-right: 1px solid black;
    font-size: 1.9rem;
    font-style: oblique;
}
#third {
    width:33%;
    height:100%;
    padding:4px;
    font-size: 1.9rem;
    background-color: antiquewhite;
    font-style: oblique;
    
}
.foot_container {
    background-color: aquamarine;
    display:flex;
    border-bottom: 1px solid black;
    height: 100px;
    justify-content:space-between;
    align-items: center; 
    padding:0; 
}
#foot_one {
    color:#f54e77;
    font-weight: 300;
    font-size: x-large;
}